@import "setup";
@import "select";

$color-bg: #fde3a7;
$book-color-bg: lighten($color-bg, 20%);
$book-color-border: lighten(#000, 85%);
$book-border: 1px solid $book-color-border;

%book-rounded-corners {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper {
  max-width: 1800px;
  width: 90%;
}
img {
  background-image: url("https://islandpress.org/sites/default/files/default_book_cover_2015.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 125%;
  background-color: #f9f7f7;
  header {
    background-color: #cc9b6d;
    height: auto;
    h1 {
      padding: 15px;
      font-family: "Odibee Sans", cursive;
      font-size: 4rem;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      color: #f6e6cb;
    }
    p {
      font-size: 2rem;
      margin: 0;
      font-stretch: expanded;
      letter-spacing: 5px;
      padding-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #f6e6cb;
    }
    a {
      color: inherit;
    }
  }
  .backTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 125px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 10; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #7d5a50; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  .backTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    160deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(128, 128, 128, 0.4) 25%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(128, 128, 128, 0.4) 75%,
    rgba(0, 0, 0, 0.6) 100%
  );
  .modalScroll {
    background-color: rgba(22, 22, 22, 0.973);
    border-radius: 20px;
    padding: 20px 0;
    .innerContent {
      position: relative;
      padding: 40px;
      width: 80vw;
      height: 80vh;
      overflow-y: auto;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        padding-left: 0px;
      }
      p {
        text-align: center;
      }
      .title {
        font-size: 3rem;
        text-decoration: underline;
      }
      li {
        list-style: none;
        text-align: center;
      }
      img {
        width: 400px;
        height: 600px;
      }
      #listButton {
        line-height: 40px;
        padding: 0;
        background: transparent;
        position: relative;
        z-index: 2;
        color: rgb(0, 0, 0);
        -webkit-perspective: 300px;
        perspective: 300px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        padding: 5px 10px;
      }
      #listButton:hover {
        color: #f6e6cb;
      }
      #listButton:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f6e6cb;
        z-index: -1;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        transition: all 0.3s ease;
      }
      #listButton:hover:after {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
      }
      hr {
        border-style: dotted;
        border-bottom: none;
        width: 50px;
        border-width: 10px;
        color: white;
      }
      .amazonPurchaseButton {
        width: 25%;
        height: auto;
        background-image: none;
      }
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: grey;
      }
      .closeModal {
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 2rem;
        background-color: transparent;
        color: white;
        border: none;
      }
      .closeModal:hover {
        color: #f6e6cb;
      }
    }
  }
}

main {
  margin: auto;
  min-height: calc(100vh - 250px);
  h2 {
    text-transform: uppercase;
    text-align: center;
    color: #b4846c;
    font-size: 3rem;
  }
  hr {
    border-style: dotted;
    border-bottom: none;
    width: 15vw;
    border-width: 2.5vw;
    color: #f6e6cb;
  }

  .genreSelector {
    margin: 20px;
  }
  .loadingAnimation {
    display: flex;
    justify-content: center;
    img {
      background-image: none;
    }
  }
  ul {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      list-style: none;
      margin: 20px;
      p {
        text-align: center;
        text-transform: uppercase;
      }
      img {
        width: 400px;
        height: 600px;
        user-select: auto;
      }

      .buttonStyle {
        background-color: transparent;
        border: none;
      }
      .buttonStyle:focus,
      .buttonStyle:hover {
        will-change: transform;
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  div {
    form {
      text-align: center;
      select {
        option {
          font-size: 25px;
        }
      }
      input[type="submit"] {
        margin-left: 25px;
        background-color: #f1d9b2;
        border-radius: 28px;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        text-transform: uppercase;
        border: none;
        padding: 12px 31px;
        text-decoration: none;
        text-shadow: 0px 0px 2px #6e6e6e;
      }
      input[type="submit"]:hover {
        background-color: #ebc993;
      }
      input[type="submit"]:active {
        position: relative;
        top: 1px;
      }
    }
  }
  .booksIcon {
    width: 6%;
    display: flex;
    background-image: none;
    opacity: 0.5;
    margin: 50px auto 20px auto;
  }
}
.userList {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-left: 10px solid #9a8548;
  border-right: 10px solid #9a8548;
  border-top: 10px solid #9a8548;
  &:first-of-type {
    border-top: 10px solid #9a8548;
  }
  li {
    // width: calc(65% / 4.5);
    // height: 100%;
    width: 195px;
    height: 285px;
    margin: 30px 10px;
    padding: 0px;
    // background-color: transparent;

    button {
      // width: 100%;
      padding: 0px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@import "listBackground";

footer {
  background-color: #2a1b01;
  padding: 25px;
  text-align: center;
  p {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    a {
      font-size: 1.25rem;
      color: white;
      margin: 25px;
      text-decoration: none;
      font-style: italic;
    }
    a:hover {
      color: rgb(143, 7, 7);
    }
  }
}

//

.book {
  @extend %book-rounded-corners;
  display: block;
  width: 125px;
  height: 200px;
  margin-bottom: 0px;
  position: relative;
  background: $book-color-bg;
  z-index: 0;
  box-shadow: 0 2px 4px 0 rgba(#000, 0.1), 0 9px 20px 0 rgba(#000, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}

.book button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  @extend %book-rounded-corners;
  height: auto;
  z-index: 10;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all 0.45s ease;
}

.book:hover {
  box-shadow: 0 2px 4px 0 rgba(#000, 0.25), 0 9px 20px 0 rgba(#000, 0.45);
  button {
    transform: rotateY(-27deg);
    box-shadow: 1px 1px 5px 5px rgba(#000, 0.4);
  }
}

.book {
  button:focus {
    transform: rotateY(-27deg);
    box-shadow: 1px 1px 5px 5px rgba(#000, 0.4);
  }
}

.book::after,
.book::before {
  @extend %book-rounded-corners;
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -10;
  top: 0;
  background: $book-color-bg;
  border: $book-border;
}

.book::before {
  left: -4px;
}
.book::after {
  left: -8px;
}

//

@media only screen and (max-width: 600px) {
  .select_arrow {
    display: none;
  }
  .modal {
    overflow-y: scroll;
    .modalScroll {
      border-radius: 0px;
      .innerContent {
        width: 100vw;
        height: 100vh;
        padding: 10px;
        margin: 25px 0 25px 0;
        border-radius: 0px;
        img {
          width: 80vw;
          height: auto;
        }
        .amazonPurchaseButton {
          width: 50%;
        }
        .amazonButton {
          margin-bottom: 0px;
        }
        .closeModal {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
  .backTopButton {
    display: none !important;
  }
  main {
    ul {
      padding-left: 0px;
      li {
        img {
          width: 80vw;
          height: auto;
          // margin: auto;
        }
        img:hover {
          transform: scale(1);
        }
      }
    }
    div {
      form {
        text-align: center;
        .select {
          width: 100%;
        }
        select {
          option {
            font-size: 25px;
          }
        }
        input[type="submit"] {
          margin-left: 0px;
          padding: 10px 25px;
          text-decoration: none;
          text-shadow: 0px 0px 1px #6e6e6e;
        }
        input[type="submit"]:hover {
          background-color: #ebc993;
        }
        input[type="submit"]:active {
          position: relative;
          top: 1px;
        }
      }
    }
    .booksIcon {
      width: 20%;
    }
    .booksIcon {
      margin: 0px auto 20px auto;
    }
  }
  .userList {
    li {
      width: 100px;
      height: 150px;
      margin: 12px;
    }
  }
}
